[submodule "external/torch-mlir"]
	path = external/torch-mlir
	url = https://github.com/llvm/torch-mlir.git
	ignore = dirty
[submodule "external/iree"]
	path = external/iree
	url = https://github.com/iree-org/iree.git
	ignore = dirty
[submodule "external/mlir-hlo"]
	path = external/mlir-hlo
	url = https://github.com/tensorflow/mlir-hlo.git
	ignore = dirty
